node_modules/
.DS_Store
Thumbs.db
npm-debug.log
/config/
/vendor/
/caches/


/audio/
/index.php
/index.html
/index-test.html
/preactalpha.html
/crossprotocol.html
/data/

/js/server/
/js/*.js.map
/js/battle*.js
/js/panel*.js
/js/replay-embed.js
/js/client-main.js
/js/client-core.js
/js/client-connection.js
/js/miniedit.js
/ads.txt
